aiogram>=3.10.0
openai>=1.37.1
gitpython>=3.1.43
chromadb>=0.5.5
pydantic>=2.8.2
docker>=7.1.0
python-dotenv>=1.0.1
aiohttp>=3.9.5
playwright>=1.45.0
beautifulsoup4>=4.12.3
SpeechRecognition>=3.10.4


